@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
body {
  color: #858585;
  font-family: "Lucida Grande";
  font-size: 13px;
  font-weight: 100;
  line-height: 1.5;
  margin: 0; }

a {
  outline: 0;
  text-decoration: none; }

@media (min-width: 768px) {
  .left {
    float: left; } }

@media (min-width: 768px) {
  .right {
    float: right; } }

.max-site-width {
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 768px) {
    .max-site-width {
      margin: auto;
      max-width: 1024px; } }

.icon {
  display: inline-block;
  font-size: 0;
  line-height: 1;
  vertical-align: middle; }
  .icon:before {
    content: " ";
    display: block;
    height: 50px;
    width: 50px; }
  .icon-back:before {
    background: url("../../assets/images/back.png") no-repeat;
    background-size: cover;
    height: 20px;
    margin-right: 5px;
    width: 20px; }
  .icon-call:before {
    background: url("../../assets/images/call.png") no-repeat #0191da;
    background-position: 50% 50%;
    background-size: 70%;
    border-radius: 50%; }
  .icon-mail:before {
    background: url("../../assets/images/mail.png") no-repeat #0191da;
    background-position: 50% 50%;
    background-size: 60%;
    border-radius: 50%; }
  .icon-chat:before {
    background: url("../../assets/images/chat.png") no-repeat #0191da;
    background-position: 50% 50%;
    background-size: 70%;
    border-radius: 50%; }
  .icon-not-like:before {
    background: url("../../assets/images/likeThumb.png") no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px; }
  .icon-favorite:before {
    background: url("../../assets/images/favorite-icon.png") no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px; }
  .icon-builder:before {
    background: url("../../assets/images/builder-logo.png") no-repeat;
    background-size: cover;
    height: 36px;
    width: 36px; }

.small {
  font-size: 12px; }

.dark, .section-title {
  color: #585858; }

.inline-list {
  list-style: none;
  padding: 0; }
  .inline-list li {
    display: inline-block; }

.section-title {
  font-size: 24px; }

header {
  background: #0191da;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    header {
      height: 60px;
      padding: 0; } }
  header .block {
    padding: 5px 0; }
    @media (min-width: 768px) {
      header .block {
        padding: 10px; } }
  header .block-logo img {
    object-fit: cover;
    width: 160px; }
    @media (min-width: 768px) {
      header .block-logo img {
        width: 235px; } }
  header .block-user {
    color: #fff; }
    @media (max-width: 767px) {
      header .block-user {
        background: #0191da;
        display: none; } }
    @media (min-width: 768px) {
      header .block-user > div {
        display: inline-block;
        vertical-align: middle; } }
  header .menu-toggle {
    background: transparent;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0; }
    @media (min-width: 768px) {
      header .menu-toggle {
        display: none; } }
    header .menu-toggle .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }
    header .menu-toggle .icon-bar {
      background: #fff;
      border-radius: 1px;
      display: block;
      height: 2px;
      margin-bottom: 3px;
      width: 22px; }
  header .favorites {
    padding-bottom: 10px; }
    @media (min-width: 768px) {
      header .favorites {
        margin-right: 72px;
        padding: 0; } }
    header .favorites .text {
      position: relative;
      top: 3px; }
  header .user-description {
    height: 30px;
    line-height: 30px;
    padding-bottom: 10px; }
    @media (min-width: 768px) {
      header .user-description {
        padding-bottom: 0; } }
    header .user-description span {
      vertical-align: top; }
  header .user-image img {
    border-radius: 50%; }
  header .block-browsing-links {
    clear: both;
    position: relative;
    top: 12px;
    z-index: 1; }
    @media (min-width: 768px) {
      header .block-browsing-links {
        overflow: hidden; } }
    header .block-browsing-links a {
      color: #fff;
      vertical-align: middle; }
    header .block-browsing-links .block-back-link {
      float: left; }
    header .block-browsing-links .browse-link {
      float: right; }
      header .block-browsing-links .browse-link a {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        padding: 10px; }
        @media (min-width: 768px) {
          header .block-browsing-links .browse-link a {
            padding: 10px 25px; } }

.page-footer {
  color: #fff; }
  .page-footer--top {
    background: #0191da;
    padding: 10px 0; }
  .page-footer--bottom {
    background: #001d2b;
    padding: 10px 0; }
    @media (min-width: 768px) {
      .page-footer--bottom ul {
        text-align: center; } }
    .page-footer--bottom ul li {
      font-size: 18px;
      margin: 0 25px;
      width: 240px; }
      @media (max-width: 767px) {
        .page-footer--bottom ul li {
          display: block;
          margin: 0 auto 30px; } }
      .page-footer--bottom ul li a {
        color: #fff; }
      .page-footer--bottom ul li .icon {
        margin-right: 10px; }

article {
  background: #f5f5f5; }
  article section {
    overflow: hidden; }
  article a {
    color: #359ab6; }

.property {
  padding-bottom: 10px;
  position: relative; }
  @media (min-width: 768px) {
    .property {
      margin-bottom: -45px;
      top: -80px; } }
  @media (min-width: 768px) {
    .property-description {
      background: #fff;
      box-shadow: 0 0 4px 0 #000;
      padding: 15px;
      width: 50%; } }
  @media (min-width: 1024px) {
    .property-description {
      padding: 10px 25px;
      width: 57%; } }
  @media (min-width: 768px) {
    .property-details {
      padding: 15px;
      width: 40%; } }
  @media (min-width: 1024px) {
    .property-details {
      padding: 0 15px 10px;
      width: 35%; } }
  .property .title strong {
    display: block;
    color: #585858;
    font-size: 30px; }
    @media (min-width: 768px) {
      .property .title strong {
        display: inline-block; } }
  .property .overview > ul li {
    margin: 0 3px;
    text-align: center; }
    @media (min-width: 768px) {
      .property .overview > ul li {
        margin-left: 0;
        margin-right: 50px;
        text-align: left; } }
  .property .description {
    font-size: 15px;
    line-height: 1.75;
    margin-top: 20px; }
  .property .links-like {
    background: #575a5f;
    padding: 20px 0; }
    .property .links-like a {
      color: #fff;
      vertical-align: middle; }
    .property .links-like ul {
      margin: 0; }
      .property .links-like ul li {
        vertical-align: top;
        padding: 0 10px; }
    .property .links-like .favorite {
      border-right: 1px solid #fff; }
    @media (min-width: 768px) {
      .property .links-like {
        background: transparent;
        padding: 0; }
        .property .links-like ul li {
          padding: 0; }
        .property .links-like .favorite {
          margin-top: 10px;
          padding-right: 50px; }
        .property .links-like .icon-favorite:before {
          height: 42px;
          margin-right: 7px;
          width: 40px; }
        .property .links-like .not-style {
          padding-left: 7px;
          width: 20%; }
          .property .links-like .not-style > a {
            display: block; } }
  .property .builder-details {
    margin-top: 15px; }
    @media (min-width: 768px) {
      .property .builder-details {
        margin-left: 7px;
        margin-top: 54px; } }
  .property .builder-name > span:last-child {
    color: #005d6f;
    text-transform: uppercase; }
  .property .builder-address {
    margin-top: 25px; }
    .property .builder-address .street {
      font-size: 18px; }
  .property .seperator {
    background: #fff;
    border-radius: 5px;
    height: 3px;
    margin: 10px 0 25px; }
    @media (min-width: 768px) {
      .property .seperator {
        width: 80%; } }
  @media (min-width: 768px) {
    .property .builder-contact {
      width: 310px; } }
  .property .contact-info {
    margin-top: 17px; }
    .property .contact-info > div {
      margin-bottom: 10px; }
    .property .contact-info a {
      font-size: 16px; }
    .property .contact-info .icon {
      margin-right: 5px; }
      .property .contact-info .icon:before {
        height: 30px;
        width: 30px; }

.interactive {
  background: #575a5f;
  padding: 20px 10px;
  text-align: center; }
  @media (min-width: 768px) {
    .interactive {
      padding: 50px 0;
      text-align: left; } }
  .interactive-links a {
    background: #fff;
    border-radius: 4px;
    margin-right: 5px;
    padding: 10px; }
    @media (min-width: 768px) {
      .interactive-links a {
        padding: 10px 15px; } }

.property-overview .tabs {
  border-bottom: 5px solid #fff;
  height: 25px; }
  @media (min-width: 768px) {
    .property-overview .tabs {
      height: 42px;
      margin-top: 80px; } }
  .property-overview .tabs > li {
    height: 25px;
    padding: 0 5px; }
    @media (min-width: 768px) {
      .property-overview .tabs > li {
        height: 42px;
        margin-right: 40px; } }
    .property-overview .tabs > li.active, .property-overview .tabs > li:hover {
      border-bottom: 5px solid #585858; }
      .property-overview .tabs > li.active a, .property-overview .tabs > li:hover a {
        color: #585858; }
  .property-overview .tabs a {
    font-size: 12px; }
    @media (min-width: 768px) {
      .property-overview .tabs a {
        font-size: 20px; } }

@media (min-width: 768px) {
  .property-overview .info {
    width: 50%; } }

@media (max-width: 767px) {
  .property-overview .info ul {
    padding-left: 10px; } }

.property-overview .info ul > li {
  padding-left: 15px; }

@media (min-width: 768px) {
  .property-overview .info .view-home {
    margin-top: 110px; } }

@media (min-width: 1024px) {
  .property-overview .info .view-home {
    margin-top: 170px; } }

.property-overview .info .title {
  font-size: 16px;
  margin-bottom: 10px; }

.property-overview .map {
  margin-top: 10px; }
  @media (min-width: 768px) {
    .property-overview .map {
      margin: 0;
      width: 50%; } }
  .property-overview .map img {
    margin-top: 5px;
    max-width: 100%; }

.floorplan {
  padding-top: 30px; }
  @media (min-width: 768px) {
    .floorplan {
      padding-top: 110px; } }
  .floorplan h2 {
    margin-bottom: 40px; }
  .floorplan .floorplan-image > img {
    width: 100%; }

.schools-amnetites {
  padding: 30px 0; }
  @media (min-width: 768px) {
    .schools-amnetites {
      padding: 105px 0; } }
  .schools-amnetites h2 {
    margin-bottom: 25px; }
  .schools-amnetites h3 {
    margin: 0; }
  @media (min-width: 768px) {
    .schools-amnetites .col {
      display: inline-block;
      vertical-align: top;
      width: 32%; } }
  .schools-amnetites .col ul {
    padding: 5px 0 0 15px; }
    .schools-amnetites .col ul li {
      margin-bottom: 20px; }
  .schools-amnetites .note {
    width: 70%; }

@media (max-width: 767px) {
  .similar-properties {
    text-align: center; } }

.similar-properties ul {
  margin: 35px 0 40px; }
  .similar-properties ul li {
    background: #000;
    height: 160px;
    margin-right: 10px;
    position: relative; }

.similar-properties .image > img {
  opacity: 0.8; }

.similar-properties .caption {
  bottom: 0;
  color: #fff;
  padding: 10px;
  position: absolute; }

.slider {
  background: #000; }
  @media (min-width: 768px) {
    .slider .slider-image {
      height: 490px; } }
  .slider .slider-image img {
    object-fit: cover;
    opacity: 0.8;
    width: 100%; }
    @media (min-width: 768px) {
      .slider .slider-image img {
        height: 490px; } }

.slider-nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  .slider-nav a {
    position: absolute;
    top: 30%; }
    .slider-nav a:before {
      height: 70px;
      width: 42px; }
    .slider-nav a.slider-prev {
      left: 30px; }
      .slider-nav a.slider-prev:before {
        background: url("../../assets/images/sliderPrev.png") no-repeat;
        background-position: 50% 50%;
        background-size: cover; }
    .slider-nav a.slider-next {
      right: 30px;
      text-align: right; }
      .slider-nav a.slider-next:before {
        background: url("../../assets/images/sliderNext.png") no-repeat;
        background-position: 50% 50%;
        background-size: cover; }

.slider-controls {
  color: #fff;
  text-align: center; }
  @media (min-width: 768px) {
    .slider-controls {
      position: absolute;
      top: 40%;
      width: 93%; } }
  @media (min-width: 1024px) {
    .slider-controls {
      position: absolute;
      top: 52%;
      width: 70%; } }
  .slider-controls > div {
    display: block; }
