article {
  background: #f5f5f5;

  section {
    overflow: hidden;
  }

  a {
    color: #359ab6;
  }
}

.property {
  padding-bottom: 10px;
  position: relative;
  @media (min-width: 768px) {
    margin-bottom: -45px;
    top: -80px;
  }

  &-description {
    @media (min-width: 768px) {
      background: #fff;
      box-shadow: 0 0 4px 0 #000;
      padding: 15px;
      width: 50%;
    }
    @media (min-width: 1024px) {
      padding: 10px 25px;
      width: 57%;
    }
  }

  &-details {
    @media (min-width: 768px) {
      padding: 15px;
      width: 40%;
    }
    @media (min-width: 1024px) {
      padding: 0 15px 10px;
      width: 35%;
    }
  }

  .title strong {
    display: block;
    color: #585858;
    font-size: 30px;
    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  .overview > ul li {
    margin: 0 3px;
    text-align: center;
    @media (min-width: 768px) {
      margin-left: 0;
      margin-right: 50px;
      text-align: left;
    }
  }

  .description {
    font-size: 15px;
    line-height: 1.75;
    margin-top: 20px;
  }

  .links-like {
    background: #575a5f;
    padding: 20px 0;

    a {
      color: #fff;
      vertical-align: middle;
    }

    ul {
      margin: 0;

      li {
        vertical-align: top;
        padding: 0 10px;
      }
    }

    .favorite {
      border-right: 1px solid #fff;
    }

    @media (min-width: 768px) {
      background: transparent;
      padding: 0;

      ul li {
        padding: 0;
      }

      .favorite {
        margin-top: 10px;
        padding-right: 50px;
      }

      .icon-favorite:before {
        height: 42px;
        margin-right: 7px;
        width: 40px;
      }

      .not-style {
        padding-left: 7px;
        width: 20%;

        > a {
          display: block;
        }
      }
    }
  }

  .builder-details {
    margin-top: 15px;
    @media (min-width: 768px) {
      margin-left: 7px;
      margin-top: 54px;
    }
  }

  .builder-name > span:last-child {
    color: #005d6f;
    text-transform: uppercase;
  }

  .builder-address {
    margin-top: 25px;

    .street {
      font-size: 18px;
    }
  }

  .seperator {
    background: #fff;
    border-radius: 5px;
    height: 3px;
    margin: 10px 0 25px;
    @media (min-width: 768px) {
      width: 80%;
    }
  }

  .builder-contact {
    @media (min-width: 768px) {
      width: 310px;
    }
  }

  .contact-info {
    margin-top: 17px;

    > div {
      margin-bottom: 10px;
    }

    a {
      font-size: 16px;
    }

    .icon{
      margin-right: 5px;

      &:before {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.interactive {
  background: #575a5f;
  padding: 20px 10px;
  text-align: center;
  @media (min-width: 768px) {
    padding: 50px 0;
    text-align: left;
  }

  &-links a {
    background: #fff;
    border-radius: 4px;
    margin-right: 5px;
    padding: 10px;
    @media (min-width: 768px) {
      padding: 10px 15px;
    }
  }
}

.property-overview {
  .tabs {
    border-bottom: 5px solid #fff;
    height: 25px;
    @media (min-width: 768px) {
      height: 42px;
      margin-top: 80px;
    }

    > li {
      height: 25px;
      padding: 0 5px;
      @media (min-width: 768px) {
        height: 42px;
        margin-right: 40px;
      }

      &.active,
      &:hover {
        border-bottom: 5px solid #585858;

        a {
          color: #585858;
        }
      }
    }

    a {
      font-size: 12px;
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }

  .info {
    @media (min-width: 768px) {
      width: 50%;
    }

    ul {
      @media (max-width: 767px) {
        padding-left: 10px;
      }

      > li {
        padding-left: 15px;
      }
    }

    .view-home {
      @media (min-width: 768px) {
        margin-top: 110px;
      }
      @media (min-width: 1024px) {
        margin-top: 170px;
      }
    }

    .title {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .map {
    margin-top: 10px;
    @media (min-width: 768px) {
      margin: 0;
      width: 50%;
    }

    img {
      margin-top: 5px;
      max-width: 100%;
    }
  }
}

.floorplan {
  padding-top: 30px;
  @media (min-width: 768px) {
    padding-top: 110px;
  }

  h2 {
    margin-bottom: 40px;
  }

  .floorplan-image > img {
    width: 100%;
  }
}

.schools-amnetites {
  padding: 30px 0;
  @media (min-width: 768px) {
    padding: 105px 0;
  }

  h2 {
    margin-bottom: 25px;
  }

  h3 {
    margin: 0;
  }

  .col {
    @media (min-width: 768px) {
      display: inline-block;
      vertical-align: top;
      width: 32%;
    }

    ul {
      padding: 5px 0 0 15px;

      li {
        margin-bottom: 20px;
      }
    }
  }

  .note {
    width: 70%;
  }
}

.similar-properties {
  @media (max-width: 767px) {
    text-align: center
  }

  ul {
    margin: 35px 0 40px;
    li {
      background: #000;
      height: 160px;
      margin-right: 10px;
      position: relative;
    }
  }

  .image > img {
    opacity: 0.8;
  }

  .caption {
    bottom: 0;
    color: #fff;
    padding: 10px;
    position: absolute;
  }
}
