.page-footer {
  color: #fff;

  &--top {
    background: #0191da;
    padding: 10px 0;
  }

  &--bottom {
    background: #001d2b;
    padding: 10px 0;

    ul {
      @media (min-width: 768px) {
        text-align: center;
      }

      li {
        font-size: 18px;
        margin: 0 25px;
        width: 240px;
        @media (max-width: 767px) {
          display: block;
          margin: 0 auto 30px;
        }

        a {
          color: #fff;
        }

        .icon {
          margin-right: 10px;
        }
      }
    }
  }
}
