header {
  background: #0191da;
  padding-bottom: 50px;
  @media (min-width: 768px) {
    height: 60px;
    padding: 0;
  }

  .block {
    padding: 5px 0;
    @media (min-width: 768px) {
      padding: 10px;
    }
  }

  .block-logo img {
    object-fit: cover;
    width: 160px;
    @media (min-width: 768px) {
      width: 235px;
    }
  }

  .block-user {
    color: #fff;
    @media (max-width: 767px) {
      background: #0191da;
      display: none;
    }

    > div {
      @media (min-width: 768px) {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .menu-toggle {
    background: transparent;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    @media (min-width: 768px) {
      display: none;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .icon-bar {
      background: #fff;
      border-radius: 1px;
      display: block;
      height: 2px;
      margin-bottom: 3px;
      width: 22px;
    }
  }

  .favorites {
    padding-bottom: 10px;
    @media (min-width: 768px) {
      margin-right: 72px;
      padding: 0;
    }

    .text {
      position: relative;
      top: 3px;
    }
  }

  .user-description {
    height: 30px;
    line-height: 30px;
    padding-bottom: 10px;
    @media (min-width: 768px) {
      padding-bottom: 0;
    }

    span {
      vertical-align: top;
    }
  }

  .user-image img {
    border-radius: 50%;
  }

  .block-browsing-links {
    clear: both;
    position: relative;
    top: 12px;
    z-index: 1;
    @media (min-width: 768px) {
      overflow: hidden;
    }

    a {
      color: #fff;
      vertical-align: middle;
    }

    .block-back-link {
      float: left;
    }

    .browse-link {
      float: right;
      a {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        padding: 10px;
        @media (min-width: 768px) {
          padding: 10px 25px;
        }
      }
    }
  }
}
