.slider {
  background: #000;

  .slider-image {
    @media (min-width: 768px) {
      height: 490px;
    }

    img {
      object-fit: cover;
      opacity: 0.8;
      width: 100%;
      @media (min-width: 768px) {
        height: 490px;
      }
    }
  }
}

.slider-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    position: absolute;
    top: 30%;

    &:before {
      height: 70px;
      width: 42px;
    }

    &.slider-prev {
      left: 30px;

      &:before {
        background: url("../../assets/images/sliderPrev.png") no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
    }

    &.slider-next {
      right: 30px;
      text-align: right;

      &:before {
        background: url("../../assets/images/sliderNext.png") no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
    }
  }
}

.slider-controls {
  color: #fff;
  text-align: center;
  @media (min-width: 768px) {
    position: absolute;
    top: 40%;
    width: 93%;
  }
  @media (min-width: 1024px) {
    position: absolute;
    top: 52%;
    width: 70%;
  }


  > div {
    display: block;
  }
}
