.left {
  @media (min-width: 768px) {
    float: left;
  }
}

.right {
  @media (min-width: 768px) {
    float: right;
  }
}

.max-site-width {
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: 768px) {
    margin: auto;
    max-width: 1024px;
  }
}

.icon {
  display: inline-block;
  font-size: 0;
  line-height: 1;
  vertical-align: middle;

  &:before {
    content: " ";
    display: block;
    height: 50px;
    width: 50px;
  }

  &-back:before {
    background: url("../../assets/images/back.png") no-repeat;
    background-size: cover;
    height: 20px;
    margin-right: 5px;
    width: 20px;
  }

  &-call:before {
    background: url("../../assets/images/call.png") no-repeat #0191da;
    background-position: 50% 50%;
    background-size: 70%;
    border-radius: 50%;
  }

  &-mail:before {
    background: url("../../assets/images/mail.png") no-repeat #0191da;
    background-position: 50% 50%;
    background-size: 60%;
    border-radius: 50%;
  }

  &-chat:before {
    background: url("../../assets/images/chat.png") no-repeat #0191da;
    background-position: 50% 50%;
    background-size: 70%;
    border-radius: 50%;
  }

  &-not-like:before {
    background: url("../../assets/images/likeThumb.png") no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
  }

  &-favorite:before {
    background: url("../../assets/images/favorite-icon.png") no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
  }

  &-builder:before {
    background: url("../../assets/images/builder-logo.png") no-repeat;
    background-size: cover;
    height: 36px;
    width: 36px;
  }
}

.small {
  font-size: 12px;
}

.dark {
  color: #585858;
}

.inline-list {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
}

.section-title {
  @extend .dark;
  font-size: 24px;
}
